* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(154, 140, 152);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    height: 15vh;
    align-items: center;
    background-color: rgb(34, 34, 59);
    padding-right: 20px;
    border-bottom: 10px solid rgb(74, 78, 105);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header > a {
    font-style: none;
    color: rgb(242, 233, 228);
    text-decoration: none;
    font-size: 20px;
}
.form {
    margin-top: 20px;
    height: 250px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    /* background: linear-gradient(rgba(152, 38, 73, 0.15), rgba(255, 117, 143));*/
    background-color: rgb(74, 78, 105);
    backdrop-filter: blur(12px);
    color: rgb(242, 233, 228);
    font-size: 20px;
    border: 5px solid;
    border-radius: 20px;
}

.formElement {
    display: flex;
    margin-left: 18px;
    /* gap: 20px; */
    width: 80%;
}
.form > button {
    width: 200px;
    height: 40px;
    color: rgb(242, 233, 228);
    background-color: black;
}

.formElement > label {
    width: 90px;
}
.formElement > input {
    width: 250px;
    height: 30px;
    border: 1px solid;
    padding-left: 5px;
    background-color: rgb(242, 233, 228);
    border: 1.6px solid;
    border-radius: 8px;
}
