.destina {
    /* height: 80vh; */
    width: 60vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.689);
    background-color: rgba(0, 0, 0, 0.691);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: height 0.3s ease;
    z-index: 9;
}
.botHeader {
    color: rgb(242, 233, 228);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */
    /* overflow: scroll; */
}
.botTitleBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0px 10%;
    cursor: pointer;
    background-color: black;
    border-radius: 20px 20px 0 0;
    height: 40px;
}
.botAnswer {
    width: 99%;
    /* overflow-x: scroll; */
    overflow-y: auto;
    padding: 10px 20px;
    max-height: 400px; /* Set a reasonable max-height */
    transition: max-height 0.3s ease;

    /* Internet Explorer and Edge */
    /* -ms-overflow-style: none; */
    /* Firefox */
    /* scrollbar-width: none;  */
}

.botAnswer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.botAnswer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.botAnswer::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.botBody {
    display: flex;
    padding-bottom: 12px;
    transition: opacity 0.3 ease;
}
.botButton {
    background-color: rgb(34, 34, 59);
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    width: 50px;
    color: rgb(242, 233, 228);
    border-left: 0;
}
.botTextArea {
    padding-left: 12px;
    /* padding-top: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(242, 233, 228);
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
}
.botTextArea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.botNotVisible {
    display: none;
}

.botShapeChange {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    bottom: 25px;
    right: 25px;
    transition: 0.3s ease;
}

.botShapeChange:hover {
    background-color: rgba(181, 101, 40, 0.834);
    color: black;
}
